<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="stylesheet" href="../resources/css/posts.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-collapse navbar-expand-lg navbar-light bg-light" style="padding-left: 5%; padding-right: 5%; margin: 0 auto;">
        <a class="navbar-brand" href="#"><img src="../resources/img/logo.png" alt="logo-brand" width="150" loading="lazy" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right ml-auto">
                <li class="nav-item">
                    <a href="home.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="menu.html" class="nav-link">Menu</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Announcement</a>
                </li>
                <li class="nav-item">
                    <a href="reservation.html" class="nav-link">Reservation</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                  <a href="login.html" class="nav-link">Login</a>
              </li>
            </ul>
        </div>
    </nav>
    <!-- Navbar -->
    <!-- Page Content -->
  <div class="container-fluid post-details">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-12">
          <div class="grid-post m-5 p-5">

        <!-- Title -->
        <h1 class="post-header">Example Header</h1>

        <!-- Author -->
        <p class="lead">
          by Admin
        </p>

        <hr>

        <!-- Date/Time
        <p>Posted on January 1, 2019 at 12:00 PM</p>

        <hr> -->

        <!-- Preview Image -->
        <img class="img-thumbnail rounded" src="../resources/img/banner.jpg" alt="">

        <hr>

        <!-- Post Content -->
        <p class="content">This is the example content for the example posts. This is the example content for the example posts. This is the example content for the example posts.</p>

        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form action="" method="post">
                <div class="form-group">
                    <label for="Name">Name:</label>
                    <input class="form-control" type="text" name="name" required>
                </div>
              <div class="form-group">
                <label for="Name">Comment:</label>
                <textarea class="form-control" name="content" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>

        <!-- Comment with nested comments -->
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    <!-- /.row -->

  <!-- /.container -->
<!-- Footer -->
<section class="footer">

    <div class="container-fluid text-md-left">
      <!-- Grid row -->
      <div class="row" style="background-color: #F4D06F; padding-bottom: 20px;">
  
        <!-- Grid column -->
        <div class="col-md-5 mt-md-0 mt-3" style="padding-top: 20px; margin-left: 20px;">
          <!-- Content -->
          <h5 class="text-uppercase">FOOD 4 LIFE Restaurant</h5>
          <p>Rekindle Your Passion For Food!</p>
          <p><strong>Follow us on: </strong>
            <br/>
            <a href="https://www.facebook.com/cadang1303"><img src="../resources/img/svg/facebook.svg" class="footer-icons" alt="facebook"></a>
            <a href="https://www.instagram.com/cadangahihi/"><img src="../resources/img/svg/instagram.svg" class="footer-icons" alt="instagram"></a>
            <a href="https://www.youtube.com/channel/UCayk_5Ju9nc2yF6IJfVPQCg"><img src="../resources/img/svg/youtube.svg" class="footer-icons" alt="youtube"></a>
            <a href="https://twitter.com/cadang1303/"><img src="../resources/img/svg/twitter.svg" class="footer-icons" alt="twitter"></a>
          </p>
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-3 footer-links" style="padding-top: 20px; margin-left: 20px;">
  
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
            
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="footer-link">Link 1</a>
            </li>
            <li>
              <a href="#!" class="footer-link">Link 2</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-3 footer-links" style="padding-top: 20px; margin-left: 20px;">
  
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="footer-link">Link 1</a>
            </li>
            <li>
              <a href="#!" class="footer-link">Link 2</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-3 contact" style="padding-top: 20px;">
  
            <!-- Links -->
            <h5 class="text-uppercase">Contact</h5>
    
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-home"></i> Address: 123 California, Cam District
              </li>
              <li>
                <i class="fa fa-envelope-o"></i> Email: tranvandan1@gmail.com
              </li>
              <li>
                <i class="fa fa-phone"></i> Phone: 012 332 1123
              </li>
            </ul>
    
          </div>
          <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: #424B54; color: white;">
        © 2020 Copyright ...
    </div>
    <!-- Copyright -->
  
  </section>
  <!--Footer-->


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="../resources/js/slideshow.js"></script>
</body>
</html>