.menu {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

hr.hr-menu {
    border-top: 1px dashed;
}

.header {
    padding-bottom: 10px;
}

.container-menu {
    border: 1px solid #e5e5e5;
    background: #fff;
    padding-top: 44px;
    padding-bottom: 20px;
}

.text-menu {
    margin: 0 30px;
    font-size: 20px;
    font-style: italic;
}